<!-- HERENCIA DE BASE -->
{% extends 'base/base.html' %}

<!-- LOAD STATIC -->
{% load static %}

<!-- START DINAMIC SECTION -->
{% block content %}
<main>
    <div class="container py-4">
        {% include 'base/header.html' %}

        <div class="p-5 mb-4 bg-light rounded-3">
            <div class="container-fluid py-5">
                <h1 class="display-5 fw-bold">Not sure what to watch?</h1>
                <p class="col-md-8 fs-4">Discover a random movie or series.</p>
                <a href="{% url 'film:random-film' %}" class="btn btn-primary btn-lg">Surprise me</a>
            </div>
        </div>

        <div class="row align-items-md-stretch">
            <div class="col-md-6">
                <div class="h-100 p-5 text-bg-dark rounded-3">
                    <h2>Film</h2>
                    <p>Learn more about our films.</p>
                    <a href="{% url 'film:list-film' %}" class="btn btn-outline-light">Example button</a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="h-100 p-5 bg-light border rounded-3">
                    <h2>Categories</h2>
                    <p>Learn more about our categories.</p>
                    <a href="{% url 'film:list-category' %}" class="btn btn-outline-secondary">Example button</a>
                </div>
            </div>
        </div>

        {% include 'base/footer.html' %}
    </div>
</main>
{% endblock content %}
<!-- END DINAMIC SECTION -->

